# Виртуальное окружение
venv/
.venv/
env/
ENV/

# Переменные окружения
.env
.env.local

# ChromaDB база данных
chroma_db/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.claude
Claude.md

chroma_db